/*
                    Pseudo-Element
    Link
:link, :visited
    
    User Action
:hover, :active, :focus

    Forms
:enabled, :checked, :disabled

    Positional
li:first-child
li:nth-child(12)
p:empty	
img:only-of-type
p:last-of-type

    Textual
:first-letter, :first-line

    Generated
:before, :after

    Fragments
::selection

    Transition property
size,color,position etc

    transition duration
last of time

    transition timing
linear / different	

    transition delay
waiting time

div{
	transform: translate(100,75), rotate(30deg), scale(2,3), skew(30deg, 15deg), rotate3D(30deg, 15deg, 10 deg);
	
}

     positioning property
static       ------------\
relative                  \     to, right, 
absolute                  /                bottom, left
fixed	      -----------/
*/

div{
	box-sizing: border-box;
	border: 1px solid #000000;
	margin: 2%;
	padding: 2%;
	display: inline-block;
	width: 100px;
	height: 100px;
	transition: 1s ease;
	
}

div:focus{
	background:#ffff00;
	
}

div:hover{

	width: 250px;
	background: #800040;
}

  .animate{
	background: rgba(163, 106, 155, 0.7);
	-webkit-transition-property: -webkit-transform, opacity, background, width, height, font-size;
	-webkit-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	-moz-transition-property: -webkit-transform, opacity, background, width, height, font-size;
	-moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	-o-transition-property: -webkit-transform, opacity, background, width, height, font-size;
	-o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	transition-property: -webkit-transform, opacity, background, width, height, font-size;
	transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
	-webkit-border-radius: 10px;
	opacity:0.6;
}	

   .animate:hover{
	    -moz-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
		opacity: 1;
		background: #1ec7e6;
		width: 110px;
		height: 67px;
   }
   
   