header, footer{
		  width: 100%;
		  -webkit-column-count:2;
		  -moz-column-count:2;
		  -o-column-count:2;
		  column-count:2;
		  
		  -webkit-column-gap:15px;
		  -moz-column-gap:15px;
		  -o-column-gap:15px;
		  column-gap:15px;
		  
		  -webkit-column-radius:50%;
		  -moz-column-radius:25px;
		  -o-column-radius:25px;
		  column-radius:50%;
		  
		   background: #666666;
		   background: -webkit-linear-gradient(top,#666666 0%, #00b7ea 100%);
		   background: -moz-linear-gradient(#666666 0%, #00b7ff 100%);
		   background: -o-linear-gradient(#666666 0%, #00b7ff 100%);
		   background: -linear-gradient(#666666 0%, #00b7ff 100%);
	  }
	  
	  
	  