h1{
	color: white;
	text-align: center;
	text-transform: uppercase; 
}
header{
	background: #B3B3B3;
	display: block;
}

a{
	color: black;
	background: #CAC0BD;
}
h2{
	color: blue;
	text-transform: uppercase;
}
section{
	background: #A0A0A0;
	height: 100%;
	width: 100%;
    float: center;
}
